<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1 class="center">Bem-vindo</h1>
      <p class="center">O QuizApp é um sistema de quiz destinado a coleta de dados para o TCC de <strong>Luciano Lima!</strong></p>
    </div>
  </div>
</div>
